<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPF_Zoo_Manager.Properties.Settings.ADBConnectionString"
            connectionString="Data Source=MSI\AKSHATLEARNS;Initial Catalog=ADB;Persist Security Info=True;User ID=sa;Password=Androidphone@12"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>